html,
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(122deg, rgba(33, 137, 151, 1) 0%, rgba(93, 4, 81, 1) 50%, rgba(126, 124, 14, 1) 100%);

}


.winner {
    color: #02ff02;
}

.loser {
    color: red;
}

.score {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.scoreDiv {
    height: 80vh;
    width: 30vw;
    padding: 30px;
    background-image: linear-gradient(225deg, #009688, #010014, #264502);
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 #000;
}

div {
    /* background: #658d85; */
    border-radius: 3px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
}

h1 {
    text-align: center;
    margin: 10px 0;
    color: #f1ff7d;
    padding: 5px;
    font-family: sans-serif;
    text-shadow: 1px 1px black;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    margin: 15px;
    text-shadow: 2px 2px black;
    font-family: sans-serif;
}

h3 {
    color: #fff;
    margin: 0;
}

label {
    color: #fff;
}

#lavel {
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
}

button {
    margin: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 0px 4px #000;
}

#p1Button {
    background-color: #F44336;
}

#reset {
    background-color: #FFC107;
}

#p2Button {
    background-color: #2196F3;
}

button:hover {
    background-image: radial-gradient(#00000080, #00000080);
}

.flex-box {
    font-size: 16px;
    font-family: sans-serif;
}

.h3div {
    height: 30px;
    height: 30px;
    margin-top: 10px;
}

.h3div h3 {
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #ffbb57;
}

.foot {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 20px;
    color: #fff;
    font-family: sans-serif;
}

.foot a {
    text-decoration: none;
    color: #60b7ff;
}

@media(max-width: 992px) {
    .scoreDiv {
        width: 50vw;
        min-height: 480px;
        height: auto;
    }
}

@media(max-width: 576px) {
    .scoreDiv {
        width: auto;
        height: auto;
    }

    .divBtnDivBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #reset {
        grid-row: 2;
        grid-column: 1 / -1;
    }
}